@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
.calendar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding: 10px 0;
}

.calendar {
  display: flex;
  gap: 10px;
  scroll-snap-align: center;
  padding: 10px;
}

.day {
  font-family: 'Indie Flower', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #fceff2;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.current-day {
  background-color: #ff80ab;
  color: #ffffff;
  box-shadow: 0 2px 10px rgba(255, 128, 171, 0.4);
}

.day:hover {
  background-color: #ffe1e8;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.arrow::before,
.arrow::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ff80ab;
  transform: rotate(45deg);
}

.current-month {
  padding-top: 2rem;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ff80ab;
}